.footer {
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(51,16,140,1) 53%, rgba(87,27,237,1) 100%);
    padding: 1rem;
    h3{
        font-family: 'Montserrat', sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        text-align: center;
        color: white;
    }
    a{
        color: #03A9F4;
        text-decoration: none;
        font-weight: 800;
    }
}


